.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;

  .main {
    width: var(--inner-width-per);
    margin: 0 auto;
    border: 1px solid green;
  }
}

@media (width < 768px) {
  .wrapper {
    .main {
      width: 95%;
      overflow: scroll;
    }
  }
}