@import url("./reset");

:root {
  --main-color: #1675cc;
  --sub-color: #ff4c89;
  --body: clamp(0.95rem, 0.95rem + 0.2vw, 1.04rem);
  --backdrop-color: rgba(0, 0, 0, 0.3);
}

::backdrop {
  --backdrop-color: rgba(0, 0, 0, 0.3);
}

html {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Segoe UI",
    "Helvetica Neue",
    HelveticaNeue,
    YuGothic,
    "Yu Gothic Medium",
    "Yu Gothic",
    Verdana,
    Meiryo,
    sans-serif;
  scroll-behavior: smooth;
}

body {
  --bg-color: #fff;
  --text-color: #444;
  --link-color: #444;
  --heading-bar-color: #37d;
  --post-link-color: #37d;

  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: var(--body);
}

body.dark {
  --bg-color: rgb(15, 24, 42);
  --text-color: #fbfbfe;
  --link-color: #ddd;
  --post-link-color: rgb(75, 161, 202);
  --heading-bar-color: rgb(75, 161, 202);
}

body.dark ::backdrop {
  --backdrop-color: rgba(150, 150, 150, 0.4);
}

body[data-lock="lock"] {
  overflow: hidden;
}
